.container--account {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;
}

.account {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.account--bloc {
  width: 20%;
  height: 10rem;
  color: white;
  font-size: 2rem;
  margin-top: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon--tag,
.icon--eye {
  width: 50px;
}

.btn--deco {
  position: absolute;
  top: 110px;
  right: 30px;
}

.deco {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: black;
  cursor: pointer;
}
