.burger--responsive {
  top: 1%;
  left: 9.5rem;
  margin: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger--responsive div {
  width: 2rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.first--close {
  transform: rotate(45deg);
}
.second--close {
  opacity: 0;
}
.third--close {
  transform: rotate(-45deg);
}

/* ------------------------- MEDIA QUERIES ---------------------- */

@media screen and (max-width: 400px) {
  .burger--responsive {
    left: 8rem;
    top: 1.5%;
    margin: 20px;
  }
}
