.container--director {
  width: 100%;
  min-height: calc(100vh - 158px);
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.imgDirector--img {
  width: 500px;
  height: 43rem;
}

.container--directorInfo {
  width: 50%;
  height: 42rem;
  padding: 10px;
  border: 1px solid white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.directorInfo {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.directorInfo span {
  width: 100%;
  font-size: 2rem;
}

.directorInfo span {
  color: white;
}

.director--moviesList {
  width: 100%;
  font-size: 2rem;
  margin-top: 5px;
  position: relative;
  display: flex;
  flex-flow: wrap row;
}

.movie--title {
  width: 50%;
  margin-top: 20px;
  color: #959595;
  font-size: 1.5rem;
  position: relative;
  text-decoration: none;
}

.movie--title:hover {
  text-decoration: underline;
}

/* ------------ MEDIA QUERIES ------------ */

@media screen and (max-width: 1000px) {
  .imgDirector--img {
    width: 350px;
    height: 30rem;
  }
  .container--directorInfo {
    width: 50%;
    height: 29.5rem;
  }
  .directorInfo span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .container--director {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgDirector--img {
    width: 250px;
    height: 25rem;
    margin-bottom: 30px;
  }

  .container--directorInfo {
    width: 90%;
    height: 600px;
    align-items: center;
  }
  .directorInfo span {
    font-size: 1.5rem;
  }
}
