.home {
  width: 100%;
  min-height: calc(100vh - 158px);
  margin-top: 50px;
}

.home h2 {
  text-align: center;
  font-size: 5rem;
  color: white;
  margin-bottom: 50px;
}

.carousel--link {
  width: 350px;
  height: 532px;
  margin: 10px;
  margin-bottom: 50px;
  background-size: cover;
  cursor: pointer;
}

.carousel--link:hover {
  transform: scale(1.15);
  transition: all 0.5s ease-in-out;
}

.text {
  height: 100%;
  color: white;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000aa;
}

/* ------------------------- MEDIA QUERIES ---------------------- */

@media screen and (max-width: 1600px) {
  .carousel--link {
    width: 300px;
    height: 450px;
    margin: 10px;
    margin-bottom: 50px;
    background-size: cover;
    cursor: pointer;
  }
}

/* ------------------------- MEDIA QUERIES ---------------------- */

@media screen and (max-width: 1300px) {
  .carousel--link {
    width: 250px;
    height: 350px;
    margin: 10px;
    margin-bottom: 50px;
    background-size: cover;
    cursor: pointer;
  }
}

/* ------------------------- MEDIA QUERIES ---------------------- */

@media screen and (max-width: 900px) {
  .carousel--link {
    width: 250px;
    height: 350px;
    margin: 10px;
    margin-bottom: 50px;
    background-size: cover;
    cursor: pointer;
  }
  .home h2 {
    font-size: 3rem;
  }
}

/* ------------------------- MEDIA QUERIES ---------------------- */

@media screen and (max-width: 400px) {
  .carousel--link {
    width: 150px;
    height: 210px;
  }
}
