.container--modify--director {
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modify--director {
  width: 50%;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container--modify--director h1 {
  text-align: center;
  font-size: 3rem;
  margin: 50px;
  color: white;
}

.modify--director--input {
  width: 40%;
  height: 7rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modify--director--label {
  width: 80%;
}

.modify--director--input input,
.modify--director--input select {
  width: 80%;
  height: 2rem;
  font-size: 1rem;
  border: none;
  color: white;
  margin-top: 5px;
  background-color: #2b3c48;
}

.modify--director--input textarea {
  width: 80%;
  height: 100px;
  font-size: 1rem;
  border: none;
  color: white;
  margin-top: 5px;
  background-color: #2b3c48;
}

.btn--add {
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 100px;
  background-color: black;
  cursor: pointer;
}
