.container--list {
  position: relative;
}

.container--list h1 {
  text-align: center;
  margin: 50px;
  font-size: 50px;
  color: white;
}

.aside--burger {
  position: relative;
  top: -100px;
}

.container--movies {
  width: 100%;
  background-color: #1a262e;
  display: flex;
  flex-flow: wrap;
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 3%;
  right: 2%;
}
#scroll_to_top img {
  width: 25px;
}
