.container--movie {
  width: 100%;
  min-height: calc(100vh - 158px);
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.posterMovie {
  width: 30%;
  margin-left: 100px;
}

.posterMovie--img {
  width: 500px;
  height: 43rem;
}

.container--movieInfo {
  width: 50%;
  height: 42rem;
  border: 1px solid white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.movieInfo {
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.movieInfo span {
  width: 100%;
  font-size: 2rem;
}

.director--name {
  text-decoration: none;
  color: black;
}

.infoClic {
  color: white;
  font-size: 15px;
  margin-left: 14rem;
  display: inline;
}

.movieInfo span:nth-child(2n + 1) {
  color: white;
}

.synopsis {
  font-size: 2rem;
}

.container--buttonWatch {
  width: 300px;
  height: 50px;
  padding: 10px;
  margin-left: 400px;
  text-decoration: none;
  background-color: #641212;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonWatch {
  font-size: 35px;
  color: white;
  background-color: #641212;
}
.play {
  width: 65px;
  height: 65px;
}
