.container--movie {
  width: 100%;
  height: calc(100vh - 153px);
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.posterMovie {
  width: 30%;
  margin-left: 100px;
}

.posterMovie--img {
  width: 500px;
  height: auto;
}

.container--movieInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.movieInfo {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.movieInfo span {
  width: 100%;
  font-size: 25px;
}

.movieInfo span:nth-child(2n + 1) {
  color: white;
}

.container--buttonWatch {
  width: 300px;
  height: 50px;
  padding: 10px;
  margin-left: 400px;
  text-decoration: none;
  background-color: #641212;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonWatch {
  font-size: 35px;
  color: white;
  background-color: #641212;
}
.play {
  width: 70px;
  height: 70px;
}
