.container--form--movie {
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form--movie {
  width: 50%;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.container--form--movie h1 {
  text-align: center;
  font-size: 3rem;
  margin: 50px;
  color: white;
}

.form--movie--input {
  width: 40%;
  height: 7rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form--movie--label {
  width: 80%;
}

.form--movie--input input,
.form--movie--input select {
  width: 80%;
  height: 2rem;
  font-size: 1rem;
  border: none;
  color: white;
  margin-top: 5px;
  background-color: #2b3c48;
}

.form--movie--input textarea {
  width: 80%;
  height: 100px;
  font-size: 1rem;
  border: none;
  color: white;
  margin-top: 5px;
  background-color: #2b3c48;
}

.btn--add {
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 100px;
  background-color: black;
  cursor: pointer;
}

.required:after {
  content: " *";
  color: red;
}

/* ----------------------------------- */

.form--movie--input--kind {
  width: 40%;
  height: 7rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--input--kind {
  width: 80%;
  /* margin: 10px; */
  /* border: solid 1px white; */
}

.form--movie--input--kind .input--kind {
  width: 5%;
}

.option--kind {
  background: #2b3c48;
  /* width: 100%; */
}

.select--kind {
  width: 100%;
  font-size: 1rem;
  /* overflow: hidden; */
}
